[submodule "site-lisp/distel"]
	path = site-lisp/distel
	url = https://github.com/massemanet/distel
[submodule "site-lisp/company-distel"]
	path = site-lisp/company-distel
	url = https://github.com/sebastiw/company-distel
[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
