backups/*
auto-save-list
*elc
url/cookies
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.DS_Store
image-dired/
elpa/
session*
tramp
\#*
history
local.el
semanticdb/*
ede-projects.el
